.todoItemShow {
    font-family: 'Roboto Condensed', sans-serif;
    top: 0px;
    left: 0px;
    display: flex;
    left: 28%;
    top: 50px;
    padding: 20px;
    justify-content: center;
    width: 400px;
    min-height: 150px;
    border-radius: 10px;
    background-color:#aa95bff0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.todoItemShow p {
    width: 350px;
    padding: 7px 15px;
    font-size: 25px;
    margin-bottom: -10px;
    color: white;
    background-color: #61215ea8; 
    border-radius: 20px;
}

.buttons {
    margin-top: 15px;
}

.form-date {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

@media (max-width: 900px) {
    .todoItemShow {
        width: 300px
    }
    .todoItemShow p {
        width: 250px;
    }
}

@media (max-width: 650px) {
    .todoItemShow {
        left: 23%;
    }
}

@media (max-width: 580px) {
    .todoItemShow {
        width: 250px;
        left: 20%;
    }
    .todoItemShow p {
        font-size: 20px;
        width: 230px;
    }
    .form-date {
        font-size: 20px;
    }
}

@media (max-width: 460px) {
    .todoItemShow {
        width: 250px;
        left: 17%;
    }
}