.todoItemShow {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    background-color:#aa95bff0;
    position: absolute;
}

.todoItemShow p {
    width: 350px;
    padding: 7px 15px;
    font-size: 25px;
    margin-bottom: -10px;
    color: white;
    background-color: #61215ea8; 
    border-radius: 20px;
    margin-top: 30px;
}

.buttons {
    margin-top: 15px;
    
}

.item-form-date {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

@media (max-width: 520px) {
    .todoItemShow {
        width: 350px;
    }
    .todoItemShow p {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .todoItemShow {
        width: 300px;
    }
    .todoItemShow p {
        width: 250px;
    }
}