.todoItemShow {
    top: 0px;
    left: 0px;
    display: flex;
    left: 28%;
    top: 50px;
    padding: 20px;
    justify-content: center;
    width: 400px;
    min-height: 150px;
    border-radius: 10px;
    background-color:#aa95bff0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.todoItemShow p {
    font-size: 25px;
    color: white;
}
