.input {
    background-color: #61215ea8; 
    color: white;
    border: none;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 20px 0px 0px 20px;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 1200px) {
    .input {
        font-size: 25px;
    }
    
}