.input {
    background-color: rgb(165, 207, 152);
    border: none;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 20px 0px 0px 20px;
    transition: 0.3s;
}

.input:hover {
    background-color: rgb(178, 230, 164);
}

