
.form {
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 400px;
    min-height: 150px;
    border-radius: 10px;
    background-color:#aa95bff0;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 520px) {
    .form {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .form {
        width: 300px;
    }
}