@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

.list {
    position: relative;
    overflow: auto;
    margin: 0 auto;
    margin-top: 10px;
    list-style-type: none;
    user-select: none;
    background-color: #61215ea8;
    padding: 10px 30px;
    max-width: 900px;
    min-height: 500px;
    max-height: 500px;
    border-radius: 20px;
}

.list__main-blur {
    filter: blur(3px);
    pointer-events: none;
}

.list-item__nothing {
    user-select: none;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(209, 220, 214);
    text-shadow: 1px 1px 2px black;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 650px) {
    .list {
        max-width: 550px;
    }
}

@media (max-width: 580px) {
    .list {
        max-width: 400px;
    }
}

@media (max-width: 520px) {
    .list {
        max-width: 420px;
    }
}

@media (max-width: 460px) {
    .list {
        max-width: 380px;
    }
}