@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

.list {
    margin-top: 10px;
    list-style-type: none;
    user-select: none;
    background-color: rgb(244, 234, 248);
    padding: 10px;
    max-width: 600px;
    min-height: 500px;
    border-radius: 20px;
}

.list-item__nothing {
    user-select: none;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(105, 109, 107);
    text-shadow: 1px 1px 2px rgb(240, 222, 222);
    font-family: 'Cormorant SC', serif;
}

@media (max-width: 650px) {
    .list {
        max-width: 550px;
    }
}

@media (max-width: 580px) {
    .list {
        max-width: 400px;
    }
}

@media (max-width: 520px) {
    .list {
        max-width: 420px;
    }
}

@media (max-width: 460px) {
    .list {
        max-width: 380px;
    }
}