.list__item {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 500px;
    box-shadow: 5px 2px 4px rgb(187, 184, 184);
    transition: 0.3s;
}

.list__item:hover {
    background-color: rgb(154, 151, 151);
}

.list__item p {
    margin-left: 20px;
    flex: 1 0 0;
}