@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.list__item {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 500px;
    box-shadow: 5px 2px 4px rgb(187, 184, 184);
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
}

.list__item-bg {
    background-color: rgb(165, 207, 152);
}

.list__item--complete {
    text-decoration: line-through;
    text-decoration-color: rgb(122, 122, 122);
}

.list__item:hover {
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
}

.list__item p {
    margin-left: 20px;
    flex: 1 0 0;
}