.navigation {
    padding: 7px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navigation button {
    width: 120px;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 4px;
    background-color:#F2A5EE;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #AA95BF;
}




@media (max-width: 600px) {
    .navigation button {
        width: 110px;
        font-size: 15px;
        margin-right: 10px;
    }

    .navigation {
        margin-right: -10px;
    }
}

