.btn-add {
    background-color:#F2A5EE;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-add:hover {
    background-color: rgb(154, 151, 151);
}

@media (max-width: 1200px) {
    .btn-add {
        font-size: 25px;
    }
    
}