.btn-add {
    background-color:#F2A5EE;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-add:hover {
    background-color: #f2a5eeb1;
}
