.btnFavorites {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 22px;
    height: 22px;
    padding: 6px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.1s;
}

.btnFavorites:hover {
    border: 1px solid grey;
    
}

.classFavorite {
    background-color: #F2A5EE;
}


@media (max-width: 600px) {
    .btnFavorites {
        width: 30px;
        height: 30px;
        padding: 8px;
    }
}